<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAP</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="lContain">
    <%- include ('partials/navbar.ejs') %>
    <div class="loginItem">
        <div class="part">
            <h1 class="headin">Welcome to CAP</h1>
            <div id="line"></div>
        </div>
        <div class="part">
            <p class="sText">CAP is a platform that allows users to create and browse the available activities and communities!</p>
            <img src="/images/stuff.png" width="auto" style="max-width: 100%;">
        </div>
        <div class="part" style="font-size: 20px;">
            <p>Our Goal: 
                <ol>
                    <li>Promote active lifestyle for all</li>
                    <li>Encourage social interaction</li>
                    <li>Meet peoples alike</li>
                    <li>Provide a platform for users to create and join activities and communities</li>
                </ol>
            </p>
            <p class="sText">What are you waiting for? Join us in <a href="/activities">activities</a> and meet peoples alike in our <a href="/communities">communities</a></p>
        </div>

    </div>
</body>
</html>